django==2.2.27
djangorestframework==3.11.2
PyJWT==1.7.1
djangorestframework_simplejwt==4.5.0
django-filter
pyyaml
python-dateutil
lxml
requests
colorama
psycopg2-binary==2.8.6
gunicorn
bs4
lemminflect
nltk
